/Seq2Seq/.idea
/Seq2Seq/__pycache__
/Seq2Seq/my_checkpoint.pth.tar
/Seq2Seq/my_checkpoint_mod.pth.tar
/Seq2Seq-with-Attention/my_checkpoint.pth.tar
/transformers/__pycache__/
/transformers/my_checkpoint.pth.tar
/image_captioning/cnn_lstm/__pycache__/
/image_captioning/cnn_lstm/my_checkpoint.pth.tar
/image_captioning/Flickr_8k_Images_Captions/
/image_captioning/COCO2014/
.idea/
image_captioning/karpathy_splits.zip
image_captioning/cnn_lstm_attention/__pycache__/
image_captioning/cnn_lstm_attention/runs/